<form method="POST">
    {% csrf_token %}

    <input type="text" name="subject" placeholder="Subject" required>

    {% for student in students %}
        <p>{{ student.user.username }}</p>

        <label>
            <input type="radio" name="student_{{ student.user.id }}" value="present" required>
            Present
        </label>

        <label>
            <input type="radio" name="student_{{ student.user.id }}" value="absent">
            Absent
        </label>
    {% endfor %}

    <button type="submit">Submit</button>
</form>