<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
</head>
<body>
    <div class="sidebar">
        <ul>
            <li>Section</li>
            <li>Time Table</li>
            <li>Assignments</li>
            <li>Profile</li>
        </ul>
    </div>
    <h1>Welcome! {{request.user.username}}</h1>
    <a href="#">
    <div class="card">
        <h3>Section</h3>
    </div>
    </a>
    <div class="card">
        <h3>Time Table<Table></Table></h3>
    </div>

    <div class="card">
        <h3>Profile</h3>
    </div>
</body>
</html>